<div class="container">
    <h1 class="text-center">Grocery List ID {{pageId}}</h1>
    <div class="row">
        <div class="col-12">
			<ul class="list-group">
				<li class="group-item" ng-repeat ="item in groceryList">
				<img ng-src="{{item.image}}" alt={{item.name}}>
				<h3>{{item.amount}} {{item.unit}} of {{item.name}} </h3>
				<!-- <h4> {{item.originalString}}</h4> -->
				<p> This item might be found in the <b>{{item.aisle}}</b> section of your grocery store. </p>
			</ul>
        </div>
    </div>
</div>
