<!-- <div class="container">
    <div class="mainHero">
            <h1 class="text-center"> Get to Searching </h1>
            <input type='text' id="typed5" name="word" placeholder="search">
    </div>
</div> -->
<!--  <div class="testBg">
    <h1>Placeholder text with<br/> typing effect</h1>
    <div class="wrapper">
        <input class="search" type="text" id="search" />
        <input class="submit" type="submit" value=" " />
    </div>
</div>
<h2>Click search to reset</h2> -->
<div data-ng-init='init()'>
    <div id="calendar-container">
        <div id="calendar-header">
            <span id="calendar-month-year"></span>
        </div>
        <div id="calendar-dates">
        </div>
    </div>
</div>