<div class="container">
    <div class="mainHero">
        <div class="center">
            <h1 class="text-center"> Get to Searching </h1>
        </div>
        <!-- <input type='text' placeholder="" typed-input> -->
        <form class=" heroPageSearch" ng-submit="homePageSearch(searchValue)">
            <input class="input-control" id="typed-output" placeholder="" typed-input strings=texttyping ng-model="searchValue">
            <input class="displayNone" type="submit" id="submit" value="Submit">
        </form>
        <!--   <typed-input strings=texttyping class="form-control"></typed-input>
        </form> -->
    </div>
</div>