<div class="container blue" style="height:50vh; width:40vw; margin: 20vh auto;">
    <div class="row green" style="height:10vh; width:40vw;">
            <div class="black center" style="height:10vh; width:10vw">
                <p class="center" style="color:white">
                    Ball Python
                </p>
            </div>
            <div class="unique-color center" style="height:10vh; width:10vw">
                <p style="color:white; paddi">
                    4000
                </p>
            </div>
            <div class="unique-color-dark center" style="height:10vh; width:10vw">
                <p class="center" style="color:white">
                    $3.00
                </p>
            </div>
            <div class="red center" style="height:10vh; width:10vw">
                <p class="center" style="color:white">
                    Today
                </p>
            </div>
    </div>
    <div class="row blue" style="height:10vh; width:40vw">

    </div>
    <div class="row yellow" style="height:10vh; width:40vw">

    </div>
    <div class="row orange" style="height:10vh; width:40vw">

    </div>
    <div class="row purple" style="height:10vh; width:40vw">

    </div>


</div>