<!-- <form ng-show="showSignUp">
    <div>
        <p class="h5 text-center mb-4">Sign up</p>
        <div class="md-form">
            <i class="fa fa-user prefix grey-text"></i>
            <input type="text" id="orangeForm-name" class="form-control" ng-model="firstName">
            <label for="orangeForm-name">First Name</label>
        </div>
        <div class="md-form">
            <i class="fa fa-user prefix grey-text"></i>
            <input type="text" id="orangeForm-name" class="form-control" ng-model="lastName">
            <label for="orangeForm-name">Last Name</label>
        </div>
    </div>
    <div class="md-form">
        <i class="fa fa-envelope prefix grey-text"></i>
        <input type="text" id="orangeForm-email" class="form-control" ng-model="email">
        <label for="orangeForm-email">Email</label>
    </div>
    <div class="md-form">
        <i class="fa fa-lock prefix grey-text"></i>
        <input type="password" id="orangeForm-pass" class="form-control" ng-model="password">
        <label for="orangeForm-pass">Password</label>
    </div>
    <div class="text-center">
        <button class="btn btn-deep-orange" ng-click="createUser(firstName, lastName, email,password)">Sign up</button>
    </div>
</form>
<form ng-show="showSignIn">
    <p class="h5 text-center mb-4">Sign in</p>
    <div class="md-form">
        <i class="fa fa-envelope prefix grey-text"></i>
        <input type="text" id="defaultForm-email" class="form-control" ng-model="emailSignIn">
        <label for="defaultForm-email">Email</label>
    </div>
    <div class="md-form">
        <i class="fa fa-lock prefix grey-text"></i>
        <input type="text" id="defaultForm-pass" class="form-control" ng-model="passwordSignIn">
        <label for="defaultForm-pass">Password</label>
    </div>
    <div class="text-center">
        <button class="btn btn-default" ng-click="signIn(emailSignIn,passwordSignIn)">Login</button>
    </div>
</form>
<button class="btn btn-caution" ng-click="signOut()">Sign Out</button> -->
<!-- <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <form ng-show="showSignUp">
                    <div>
                        <p class="h5 text-center mb-4">Sign up</p>
                        <div class="md-form">
                            <i class="fa fa-user prefix grey-text"></i>
                            <input type="text" id="orangeForm-name" class="form-control" ng-model="firstName">
                            <label for="orangeForm-name">First Name</label>
                        </div>
                        <div class="md-form">
                            <i class="fa fa-user prefix grey-text"></i>
                            <input type="text" id="orangeForm-name" class="form-control" ng-model="lastName">
                            <label for="orangeForm-name">Last Name</label>
                        </div>
                    </div>
                    <div class="md-form">
                        <i class="fa fa-envelope prefix grey-text"></i>
                        <input type="text" id="orangeForm-email" class="form-control" ng-model="email">
                        <label for="orangeForm-email">Email</label>
                    </div>
                    <div class="md-form">
                        <i class="fa fa-lock prefix grey-text"></i>
                        <input type="password" id="orangeForm-pass" class="form-control" ng-model="password">
                        <label for="orangeForm-pass">Password</label>
                    </div>
                    <div class="text-center">
                        <button class="btn btn-deep-orange" ng-click="createUser(firstName, lastName, email,password)">Sign up</button>
                    </div>
                </form>
                <form ng-show="showSignIn">
                    <p class="h5 text-center mb-4">Sign in</p>
                    <div class="md-form">
                        <i class="fa fa-envelope prefix grey-text"></i>
                        <input type="text" id="defaultForm-email" class="form-control" ng-model="emailSignIn">
                        <label for="defaultForm-email">Email</label>
                    </div>
                    <div class="md-form">
                        <i class="fa fa-lock prefix grey-text"></i>
                        <input 
                        type="password" id="defaultForm-pass" class="form-control" 
                        ng-model="test" />
                        <label for="defaultForm-pass">Password</label>
                    </div>
                    <div class="text-center">
                        <button class="btn btn-default" ng-click="signIn(emailSignIn, test)">Login</button>
                    </div>
                </form>
                <button class="btn btn-caution text-center" ng-click="signInAsGuest()" ng-show="showSignOut">Sign Out</button>
                <button class="btn btn-caution text-center" ng-click="signOut()" ng-show="showSignOut">Sign In As Guest</button>
            </div>
        </div>
    </div>
</div> -->