<div class="container-fluid">
    <div class="row calendarPadding">
        <div class="col-3">
            <div class="servingSetUp testBg sideBarPadding">
                <div class="panel-heading" role="tab" id="servingsInfo">
                    <h4 class="panel-title text-center">
        <a role="button" data-toggle="collapse" href="#servingsCollapse" aria-expanded="true" aria-controls="servingsCollapse" class="trigger collapsed">
          Servings
        </a>
      </h4>
                </div>
                <div id="servingsCollapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="servingsInfo">
                    <div class="panel-body">
                        <input type="text" placeholder="How many are you serving?">
                    </div>
                </div>
            </div>
            <div class="recipeSetup testBg sideBarPadding parent wrapper">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="text-center">
        <a role="button" data-toggle="collapse" href="#recipeBookNames" aria-expanded="true" aria-controls="recipeBookNames" class="trigger collapsed" ng-click="getRecipeBooks()">
          Recipes
        </a>
      </h4>
                </div>
                <div id="recipeBookNames" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                        <input type="text" name="searchRecipes" placeholder="Search Your Recipe Boxes">
                        <button ng-repeat="books in recipeBooks" class="btn" data-toggle="collapse" href="#booksRecipes" aria-expanded="true" aria-controls="booksRecipes" class="trigger" ng-click="getRecipes(books.id)">{{books.name}}</button>
                        <!-- Find turn off the collapse, buttons shouldn't collapse the whole recipe panel -->
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="recipesInBooks">
                        </div>
                        <div id="booksRecipes" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="recipesInBooks">
                            <div ui-sortable="sortableOptions" class="apps-container source" ng-model="recipes">
                                <div class="app" ng-repeat="recipe in recipes">
                                    <img ng-src="{{recipe.profile_pic_thumbnail}}">
                                    <p>{{recipe.tiitle}}</p>
                                </div>
                            </div>
                            <!-- <div ng-repeat="recipe in recipes">
                                <div id="recipeSpecific" ng-model="recipe">
                                    <img class="width100" ng-src="{{recipe.profile_pic_thumbnail}}">
                                    <span>
                                        {{recipe.name}}
                                    </span>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-9">
            <div id="calendar ">
                <table class="table">
                    <thead>
                        <tr>
                            <td id="backButton " style="width:25px ">Back</td>
                            <td colspan="7 " id="calendarHead " class="today ">
                                <div class="posRel-wid100 ">
                                    <span class="prevWeek " title="previousWeek " ng-click="previousWeek() "></span>
                                    <div id="currentWeek " class="text-center ">Current Week: October 9th - October 15h</div>
                                </div>
                            </td>
                            <!-- <td id="backButton " style="width:25px ">Next</td> -->
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td <div ui-sortable="sortableOptions" class="apps-container screen floatleft" ng-model="list2">
                                <div class="app" ng-repeat="m1 in list2 track by $index">
                                    <img ng-src="{{m1.profile_pic_thumbnail}}">
                                    <p> {{m1.title}}</p>
                                </div>
            </div>
            <button class="btn" ng-click="testFunction(list2)"></button>
            </td>
            <td>
                <ul id="sortable3" class="connectedSortable">
                    <li>&nbsp;</li>
                </ul>
            </td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>
                    <ul id="sortable4" class="connectedSortable">
                        <li>&nbsp;</li>
                    </ul>
                </td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            </tbody>
            </table>
        </div>
    </div>
</div>