<div class="container-fluid">
    <div class="row calendarPadding">
        <div class="col-3">
            <div class="servingSetUp testBg sideBarPadding">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title text-center">
        <a role="button" data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="trigger collapsed">
          Servings
        </a>
      </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <input type="text" placeholder="How many are you serving?">
                    </div>
                </div>
            </div>
            <div class="recipeSetup testBg sideBarPadding">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="text-center">
        <a role="button" data-toggle="collapse" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo" class="trigger collapsed" ng-click="getRecipeBooks()">
          Recipes
        </a>
      </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                        <input type="text" name="searchRecipes" placeholder="Search Your Recipe Boxes">
                        <div ng-repeat="books in recipeBooks">
                            <button class="btn">{{books.name}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-9 ">
            <div id="calendar ">
                <table class="table ">
                    <thead>
                        <tr>
                            <td id="backButton " style="width:25px ">Back</td>
                            <td colspan="7 " id="calendarHead " class="today ">
                                <div class="posRel-wid100 ">
                                    <span class="prevWeek " title="previousWeek " ng-click="previousWeek() "></span>
                                    <div id="currentWeek " class="text-center ">Current Week: October 9th - October 15h</div>
                                </div>
                            </td>
                            <!-- <td id="backButton " style="width:25px ">Next</td> -->
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Desc</th>
                            <th class="calendarToday ">Monday</th>
                            <th>Tuesday</th>
                            <th>Wednesday</th>
                            <th>Thursday</th>
                            <th>Friday</th>
                            <th>Saturday</th>
                            <th>Sunday</th>
                        </tr>
                        <tr>
                            <td class="tableRowDesc ">
                                <div> Morning </div>
                            </td>
                            <td id="morningSlot1 " class="calendarSlot ">
                                test
                                <br>
                                <button class="btn ">add</button>
                            </td>
                            <td id="morningSlot2 " class="calendarSlot ">
                                test
                                <br>
                                <button class="btn btn-small ">add</button>
                            </td>
                            <td id="morningSlot3 " class="calendarSlot ">
                                test
                                <br>
                                <button class="btn btn-small ">add</button>
                            </td>
                            <td id="morningSlot4 " class="calendarSlot ">
                                test
                                <br>
                                <button class="btn btn-small ">add</button>
                            </td>
                            <td id="morningSlot5 " class="calendarSlot ">
                                test
                                <br>
                                <button class="btn btn-small ">add</button>
                            </td>
                            <td id="morningSlot6 " class="calendarSlot ">
                                test
                                <br>
                                <button class="btn btn-small ">add</button>
                            </td>
                            <td id="morningSlot7 " class="calendarSlot ">
                                test
                                <br>
                                <button class="btn btn-small ">add</button>
                            </td>
                        </tr>
                        <tr>
                            <td class="tableRowDesc ">
                                <div> Noon </div>
                            </td>
                            <td id="noonSlot1 " class="calendarSlot ">
                                test
                                <br>
                                <button class="btn btn-small ">add</button>
                            </td>
                            <td id="noonSlot2 " class="calendarSlot ">
                                test
                                <br>
                                <button class="btn btn-small ">add</button>
                            </td>
                            <td id="noonSlot3 " class="calendarSlot ">
                                test
                                <br>
                                <button class="btn btn-small ">add</button>
                            </td>
                            <td id="noonSlot4 " class="calendarSlot ">
                                test
                                <br>
                                <button class="btn btn-small ">add</button>
                            </td>
                            <td id="noonSlot5 " class="calendarSlot ">
                                test
                                <br>
                                <button class="btn btn-small ">add</button>
                            </td>
                            <td id="noonSlot6 " class="calendarSlot ">
                                test
                                <br>
                                <button class="btn btn-small ">add</button>
                            </td>
                            <td id="noonSlot7 " class="calendarSlot ">
                                test
                                <br>
                                <button class="btn btn-small ">add</button>
                            </td>
                        </tr>
                        <tr>
                            <td class="tableRowDesc ">
                                <div> Evening </div>
                            </td>
                            <td id="eveningSlot1 " class="calendarSlot ">
                                test
                                <br>
                                <button class="btn btn-small ">add</button>
                            </td>
                            <td id="eveningSlot2 " class="calendarSlot ">
                                test
                                <br>
                                <button class="btn btn-small ">add</button>
                            </td>
                            <td id="eveningSlot3 " class="calendarSlot ">
                                test
                                <br>
                                <button class="btn btn-small ">add</button>
                            </td>
                            <td id="eveningSlot4 " class="calendarSlot ">
                                test
                                <br>
                                <button class="btn btn-small ">add</button>
                            </td>
                            <td id="eveningSlot5 " class="calendarSlot ">
                                test
                                <br>
                                <button class="btn btn-small ">add</button>
                            </td>
                            <td id="eveningSlot6 " class="calendarSlot ">
                                test
                                <br>
                                <button class="btn btn-small ">add</button>
                            </td>
                            <td id="eveningSlot7 " class="calendarSlot ">
                                test
                                <br>
                                <button class="btn btn-small ">add</button>
                            </td>
                        </tr>
                        <tr>
                            <td class="tableRowDesc ">
                                <div> Summary </div>
                            </td>
                            <td id="summarySlot1 ">
                                <br> Fat: 0g
                                <br> Calories: <span class="fat ">0</span>g
                                <br> Protein: <span class="protein ">0</span>g
                                <br> Carbs: <span class="carbohydrates ">0</span>g
                                <br>
                                <hr style="margin: 5px 0px "> Est. Cost: $<span class="cost ">0</span>
                                <hr style="margin: 5px 0px ">
                                <a href="# " class="showAllNutrients " ng-click="showAllNutrients() ">show all nutrients</a>
                                <div class="moreNutrients "></div>
                            </td>
                            <td id="summarySlot2 " class="calendarSlot ">
                                <br> Fat: 0g
                                <br> Calories: <span class="fat ">0</span>g
                                <br> Protein: <span class="protein ">0</span>g
                                <br> Carbs: <span class="carbohydrates ">0</span>g
                                <br>
                                <hr style="margin: 5px 0px "> Est. Cost: $<span class="cost ">0</span>
                                <hr style="margin: 5px 0px ">
                                <a href="# " class="showAllNutrients " ng-click="showAllNutrients() ">show all nutrients</a>
                                <div class="moreNutrients "></div>
                            </td>
                            <td id="summarySlot3 " class="calendarSlot ">
                                <br> Fat: 0g
                                <br> Calories: <span class="fat ">0</span>g
                                <br> Protein: <span class="protein ">0</span>g
                                <br> Carbs: <span class="carbohydrates ">0</span>g
                                <br>
                                <hr style="margin: 5px 0px "> Est. Cost: $<span class="cost ">0</span>
                                <hr style="margin: 5px 0px ">
                                <a href="# " class="showAllNutrients " ng-click="showAllNutrients() ">show all nutrients</a>
                                <div class="moreNutrients "></div>
                            </td>
                            <td id="summarySlot4 " class="calendarSlot ">
                                <br> Fat: 0g
                                <br> Calories: <span class="fat ">0</span>g
                                <br> Protein: <span class="protein ">0</span>g
                                <br> Carbs: <span class="carbohydrates ">0</span>g
                                <br>
                                <hr style="margin: 5px 0px "> Est. Cost: $<span class="cost ">0</span>
                                <hr style="margin: 5px 0px ">
                                <a href="# " class="showAllNutrients " ng-click="showAllNutrients() ">show all nutrients</a>
                                <div class="moreNutrients "></div>
                            </td>
                            <td id="summarySlot5 " class="calendarSlot ">
                                <br> Fat: 0g
                                <br> Calories: <span class="fat ">0</span>g
                                <br> Protein: <span class="protein ">0</span>g
                                <br> Carbs: <span class="carbohydrates ">0</span>g
                                <br>
                                <hr style="margin: 5px 0px "> Est. Cost: $<span class="cost ">0</span>
                                <hr style="margin: 5px 0px ">
                                <a href="# " class="showAllNutrients " ng-click="showAllNutrients() ">show all nutrients</a>
                                <div class="moreNutrients "></div>
                            </td>
                            <td id="summarySlot6 " class="calendarSlot ">
                                <br> Fat: 0g
                                <br> Calories: <span class="fat ">0</span>g
                                <br> Protein: <span class="protein ">0</span>g
                                <br> Carbs: <span class="carbohydrates ">0</span>g
                                <br>
                                <hr style="margin: 5px 0px "> Est. Cost: $<span class="cost ">0</span>
                                <hr style="margin: 5px 0px ">
                                <a href="# " class="showAllNutrients " ng-click="showAllNutrients() ">show all nutrients</a>
                                <div class="moreNutrients "></div>
                            </td>
                            <td id="summarySlot7 " class="calendarSlot ">
                                <br> Fat: 0g
                                <br> Calories: <span class="fat ">0</span>g
                                <br> Protein: <span class="protein ">0</span>g
                                <br> Carbs: <span class="carbohydrates ">0</span>g
                                <br>
                                <hr style="margin: 5px 0px "> Est. Cost: $<span class="cost ">0</span>
                                <hr style="margin: 5px 0px ">
                                <a href="# " class="showAllNutrients " ng-click="showAllNutrients() ">show all nutrients</a>
                                <div class="moreNutrients "></div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>