<div class="container-fluid">
    <h1 class="text-center">{{pageTitle}}</h1>
    <div class="row">
        <div class="col-12">
            <div id="calendar">
                <table class="table">
                    <thead id="calendarHeader">
                        <tr id="calendar-week">
                            <td align="center" id="backButton" style="width:25px">Back</td>
                            <td colspan="7" id="calendarHead" class="today">
                                <div class="posRel-wid100">
                                    <span class="prevWeek" title="previousWeek" ng-click="previousWeek()"></span>
                                    <div id="currentWeek" class="text-center"><b>{{dateHeaderBegin}}</b> <b>-</b> <b>{{dateHeaderEnd}}</b></div>
                                </div>
                            </td>
                            <td id="backButton" style="width:25px ">Next</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>&nbsp;</td>
                            <!-- <div ng-repeat="date in dates"> -->
                            <td class="text-center" ng-repeat="date in dates"> {{date}} </td>
                            <!-- </div> -->
                        </tr>
                        <tr>
                            <td>Morning</td>
                            <td align="center" id="sortableLists" ui-sortable="sortableOptions" class="apps-container" ng-model="calendarData.morning1">
                                <div class="app text-center" ng-repeat="m1 in calendarData.morning1 track by $index">
                                    <img class="img-fluid" ng-src="{{m1.profile_pic_thumbnail}}">
                                    <p> {{m1.name}}</p>
                                </div>
                            </td>
                            <td align="center" id="sortableLists" ui-sortable="sortableOptions" class="apps-container" ng-model="calendarData.morning2">
                                <div class="app text-center" ng-repeat="m2 in calendarData.morning2 track by $index">
                                    <img class="img-fluid" ng-src="{{m2.profile_pic_thumbnail}}">
                                    <p> {{m2.name}}</p>
                                </div>
                            </td>
                            <td align="center" id="sortableLists" ui-sortable="sortableOptions" class="apps-container" ng-model="calendarData.morning3">
                                <div class="app text-center" ng-repeat="m3 in calendarData.morning3 track by $index">
                                    <img class="img-fluid" ng-src="{{m3.profile_pic_thumbnail}}">
                                    <p> {{m3.name}}</p>
                                </div>
                            </td>
                            <td align="center" id="sortableLists" ui-sortable="sortableOptions" class="apps-container" ng-model="calendarData.morning4">
                                <div class="app text-center" ng-repeat="m4 in calendarData.morning4 track by $index">
                                    <img class="img-fluid" ng-src="{{m4.profile_pic_thumbnail}}">
                                    <p> {{m4.name}}</p>
                                </div>
                            </td>
                            <td align="center" id="sortableLists" ui-sortable="sortableOptions" class="apps-container" ng-model="calendarData.morning5">
                                <div class="app text-center" ng-repeat="m5 in calendarData.morning5 track by $index">
                                    <img class="img-fluid" ng-src="{{m5.profile_pic_thumbnail}}">
                                    <p> {{m5.name}}</p>
                                </div>
                            </td>
                            <td align="center" id="sortableLists" ui-sortable="sortableOptions" class="apps-container" ng-model="calendarData.morning6">
                                <div class="app text-center" ng-repeat="m6 in calendarData.morning6 track by $index">
                                    <img class="img-fluid" ng-src="{{m6.profile_pic_thumbnail}}">
                                    <p> {{m6.name}}</p>
                                </div>
                            </td>
                            <td align="center" id="sortableLists" ui-sortable="sortableOptions" class="apps-container" ng-model="calendarData.morning7">
                                <div class="app text-center" ng-repeat="m7 in calendarData.morning7 track by $index">
                                    <img class="img-fluid" ng-src="{{m7.profile_pic_thumbnail}}">
                                    <p> {{m7.name}}</p>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td align="center">Noon</td>
                            <td align="center" id="sortableLists" ui-sortable="sortableOptions" class="apps-container screen floatleft" ng-model="calendarData.noon1">
                                <div class="app text-center" ng-repeat="n1 in calendarData.noon1 track by $index">
                                    <img class="img-fluid" ng-src="{{n1.profile_pic_thumbnail}}">
                                    <p> {{n1.name}}</p>
                                </div>
                            </td>
                            <td align="center" id="sortableLists" ui-sortable="sortableOptions" class="apps-container" ng-model="calendarData.noon2">
                                <div class="app text-center" ng-repeat="n2 in calendarData.noon2 track by $index">
                                    <img class="img-fluid" ng-src="{{n2.profile_pic_thumbnail}}">
                                    <p> {{n2.name}}</p>
                                </div>
                            </td>
                            <td align="center" id="sortableLists" ui-sortable="sortableOptions" class="apps-container" ng-model="calendarData.noon3">
                                <div class="app text-center" ng-repeat="n3 in calendarData.noon3 track by $index">
                                    <img class="img-fluid" ng-src="{{n3.profile_pic_thumbnail}}">
                                    <p> {{n3.name}}</p>
                                </div>
                            </td>
                            <td align="center" id="sortableLists" ui-sortable="sortableOptions" class="apps-container" ng-model="calendarData.noon4">
                                <div class="app text-center" ng-repeat="n4 in calendarData.noon4 track by $index">
                                    <img class="img-fluid" ng-src="{{n4.profile_pic_thumbnail}}">
                                    <p> {{n4.name}}</p>
                                </div>
                            </td>
                            <td align="center" id="sortableLists" ui-sortable="sortableOptions" class="apps-container" ng-model="calendarData.noon5">
                                <div class="app text-center" ng-repeat="n5 in calendarData.noon5 track by $index">
                                    <img class="img-fluid" ng-src="{{n5.profile_pic_thumbnail}}">
                                    <p> {{n5.name}}</p>
                                </div>
                            </td>
                            <td align="center" id="sortableLists" ui-sortable="sortableOptions" class="apps-container" ng-model="calendarData.noon6">
                                <div class="app text-center" ng-repeat="n6 in calendarData.noon6 track by $index">
                                    <img class="img-fluid" ng-src="{{n6.profile_pic_thumbnail}}">
                                    <p> {{n6.name}}</p>
                                </div>
                            </td>
                            <td align="center" id="sortableLists" ui-sortable="sortableOptions" class="apps-container" ng-model="calendarData.noon7">
                                <div class="app text-center" ng-repeat="n7 in calendarData.noon7 track by $index">
                                    <img class="img-fluid" ng-src="{{n7.profile_pic_thumbnail}}">
                                    <p> {{n7.name}}</p>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td align="center">Evening</td>
                            <td align="center" id="sortableLists" ui-sortable="sortableOptions" class="apps-container screen floatleft" ng-model="calendarData.evening1">
                                <div class="app text-center" ng-repeat="e1 in calendarData.evening1 track by $index">
                                    <img class="img-fluid" ng-src="{{e1.profile_pic_thumbnail}}">
                                    <p> {{e1.name}}</p>
                                </div>
                            </td>
                            <td align="center" id="sortableLists" ui-sortable="sortableOptions" class="apps-container" ng-model="calendarData.evening2">
                                <div class="app text-center" ng-repeat="e2 in calendarData.evening2 track by $index">
                                    <img class="img-fluid" ng-src="{{e2.profile_pic_thumbnail}}">
                                    <p> {{e2.name}}</p>
                                </div>
                            </td>
                            <td align="center" id="sortableLists" ui-sortable="sortableOptions" class="apps-container" ng-model="calendarData.evening3">
                                <div class="app text-center" ng-repeat="e3 in calendarData.evening3 track by $index">
                                    <img class="img-fluid" ng-src="{{e3.profile_pic_thumbnail}}">
                                    <p> {{e3.name}}</p>
                                </div>
                            </td>
                            <td align="center" id="sortableLists" ui-sortable="sortableOptions" class="apps-container" ng-model="calendarData.evening4">
                                <div class="app text-center" ng-repeat="e4 in calendarData.evening4 track by $index">
                                    <img class="img-fluid" ng-src="{{e4.profile_pic_thumbnail}}">
                                    <p> {{e4.name}}</p>
                                </div>
                            </td>
                            <td align="center" id="sortableLists" ui-sortable="sortableOptions" class="apps-container" ng-model="calendarData.evening5">
                                <div class="app text-center" ng-repeat="e5 in calendarData.evening5 track by $index">
                                    <img class="img-fluid" ng-src="{{e5.profile_pic_thumbnail}}">
                                    <p> {{e5.name}}</p>
                                </div>
                            </td>
                            <td align="center" id="sortableLists" ui-sortable="sortableOptions" class="apps-container" ng-model="calendarData.evening6">
                                <div class="app text-center" ng-repeat="e6 in calendarData.evening6 track by $index">
                                    <img class="img-fluid" ng-src="{{e6.profile_pic_thumbnail}}">
                                    <p> {{e6.name}}</p>
                                </div>
                            </td>
                            <td align="center" id="sortableLists" ui-sortable="sortableOptions" class="apps-container" ng-model="calendarData.evening7">
                                <div class="app text-center" ng-repeat="e7 in calendarData.evening7 track by $index">
                                    <img class="img-fluid" ng-src="{{e7.profile_pic_thumbnail}}">
                                    <p> {{e7.name}}</p>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button class="btn" ng-click="saveMealPlanData(calendarData.morning1,calendarData.morning2,calendarData.morning3,calendarData.morning4,calendarData.morning5,calendarData.morning6,calendarData.morning7,calendarData.noon1,calendarData.noon2,calendarData.noon3,calendarData.noon4,calendarData.noon5,calendarData.noon6,calendarData.noon7,calendarData.evening1,calendarData.evening2,calendarData.evening3,calendarData.evening4,calendarData.evening5,calendarData.evening6,calendarData.evening7)"> Save Meal Prep </button>
                <button class="btn btn-primary" ng-click="getMealPrepData()">
                    Get Data
                </button>
                <div class="btn btn-danger delete float-right" style="width:500px; height:500px"> Delete From Meal Plan</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="row calendarPadding">
            <div class="col-12">
                <!--           <div class="servingSetUp testBg sideBarPadding">
                <div class="panel-heading" role="tab" id="servingsInfo">
                    <h4 class="panel-title text-center">
        <button class="btn" data-target="#servingsCollapse" data-toggle="collapse"  aria-expanded="true" aria-controls="servingsCollapse" class="trigger collapsed">
          Servings
        </button>
      </h4>
                </div>
                <div id="servingsCollapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="servingsInfo">
                    <div class="panel-body">
                        <input type="text" placeholder="How many are you serving?">
                    </div>
                </div>
            </div> -->
                <!-- <div class="recipeSetup testBg sideBarPadding sticky-bottom">
                    <div class="panel-heading" role="tab" id="headingTwo">
                        <h4 class="text-center">
        <button class="btn" role="button" data-target="#recipeBookNames" data-toggle="collapse" aria-expanded="true" aria-controls="recipeBookNames" class="trigger collapsed" ng-click="getRecipeBooks()">
          Recipes
        </button>
      </h4> -->
                <!-- </div> -->
                <!-- <div id="recipeBookNames" class="panel-collapse collapse zindex1" role="tabpanel" aria-labelledby="headingTwo" z-index="">
                        <div class="panel-body">
                            <input type="text" name="searchRecipes" placeholder="Search Your Recipe Boxes">
                            <button ng-repeat="books in recipeBooks" class="btn" data-toggle="collapse" href="#booksRecipes" aria-expanded="true" aria-controls="booksRecipes" class="trigger" ng-click="getRecipes(books.id)">{{books.name}}</button>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="recipesInBooks">
                            </div>
                            <div id="booksRecipes" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="recipesInBooks">
                                <div ui-sortable="sortableOptions" class="apps-container source" ng-model="recipes">
                                    <div class="app" ng-repeat="recipe in recipes">
                                        <img ng-src="{{recipe.profile_pic_thumbnail}}">
                                        <p>{{recipe.name}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
            </div>
        </div>
    </div>
    <div id="mybutton">
        <button class="btn btn-primary" data-target="#recipeBookNames" data-toggle="collapse" ng-click="getRecipeBooks()">Add Recipes</button>
        <div id="recipeBookNames" class="panel-collapse collapse salmonBg" role="tabpanel" aria-labelledby="headingTwo" z-index="">
            <div class="panel-body">
                <!-- <input type="text" name="searchRecipes" placeholder="Search Your Recipe Boxes"> -->
                <button ng-repeat="books in recipeBooks" class="btn" data-toggle="collapse" href="#booksRecipes" aria-expanded="true" aria-controls="booksRecipes" class="trigger" ng-click="getRecipes(books.id)">{{books.name}}</button>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="recipesInBooks">
                </div>
                <div id="booksRecipes" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="recipesInBooks">
                    <div ui-sortable="sortableOptions" class="apps-container source" ng-model="recipes">
                        <div class="app" ng-repeat="recipe in recipes">
                            <img ng-src="{{recipe.profile_pic_thumbnail}}">
                            <p>{{recipe.name}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>