<div class="container" ng-init="getRecipeBooks()">
    <h1 class="text-center display-1">My Recipe Books</h1>
    <!-- Add "users" Recipe Books -->
    <form class="md-form">
        <div class="md-form">
            <input type="text" id="form7" class="form-control" ng-model="name"></input>
            <label for="form7">Book Name</label>
        </div>
        <div class="text-center">
            <button class="btn btn-primary text-center" ng-click="createRecipeBook(name)">Create Recipe Book</button>
            <!-- <button class="btn btn-primary text-center" ng-click="getRecipeBooks()">Get Recipe Books</button> -->
        </div>
    </form>
    <div class="row">
        <div class="col-6" ng-repeat="books in userBooks">
            <a ui-sref="books({id:books.id})" ng-click="getRecipesFromBooks(books.id)">
                <!-- Change ui-sref to books.name -->
                <div class="card">
                    <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%282%29.jpg" alt="Card image cap">
                    <div class="card-body center">
                        <h1 class="card-title"><b>{{books.name}}</b></h1>
                        <a class="btn btn-danger" data-toggle="modal" data-target="#confirmDeleteModal">Delete</a>
                    </div>
                </div>
            </a>
            <div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModal" aria-hidden="true">
                <div class="modal-dialog modal-notify modal-danger" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <p class="heading lead">Just to make sure...</p>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true" class="white-text">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="text-center">
                                <h4 class="text-center"><b>Are you sure you want to delete the</b></h4>
                                <br> <h2><b>{{books.name}}</b></h2>
                                <br>
                                <h4><b>Recipe Book?</b></h4>
                            </div>
                        </div>
                        <div class="modal-footer justify-content-center">
                            <a type="button" class="btn btn-danger btn-large" data-dismiss="modal" ng-click="deleteBook(books.id)" aria-label="Close">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>