<div class="container">
    <h1 class="display-3 text-center">Recipe Book ID {{pageTitle}}</h1>
    <div class="row">
        <div class="col-4" ng-repeat="recipe in recipes">
            <div class="card">
                <img class="img-fluid" ng-src="{{recipe.profile_pic}}" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">{{recipe.name}}</h4>
                    <p class="card-text">{{recipe.recipe_id}}</p>
                    <!-- <button class="btn btn-danger" data-toggle="modal" data-target="#mealPlans">Add to Meal Plan</button> -->
                    <a class="btn btn-danger" ng-click="deleteRecipeFromBook(recipe.id, recipe.fkey)">Delete</a>
                </div>
            </div>
        </div>
        <div ng-show="noBooks" class="container">
            <h1 class="text-center"> Looks like you haven't added any recipes to your books. </h1>
            <h3 class="text-center">
                    You can add recipes straight to your recipe book from the <button class ="btn" ui-sref="search"><b>search</b> </button>page.</h3>
            </h3>
        </div>
    </div>
    <!-- <div class="modal fade" id="mealPlans" tabindex="-1" role="dialog" aria-labelledby="mealPlansModal" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title w-100" id="myModalLabel">Which Meal Plan?</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div ng-repeat="books in userBooksModal">
                            <button class="btn btn-primary" ng-click="saveRecipeToBook(recipeData.title, recipeData.id, recipeData.image, books.id)" data-dismiss="modal">{{books.name}}</button>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div> -->
</div>