<div class="container paddingTop">
    <div class="row">
        <div class="col-8">
            <h1 class="text-center h1-responsive display-2"><b>{{recipeData.title}}</b></h1>
        </div>
        <div class="col-4">
            <button class="btn btn-secondary" ng-click="getRecipeBooksModal()" data-toggle="modal" data-target="#recipeBooks"> Save to Books </button>
        </div>
    </div>
    <div class="modal fade" id="recipeBooks" tabindex="-1" role="dialog" aria-labelledby="recipeBooksModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title w-100" id="myModalLabel">Which Recipe Book?</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div ng-repeat="books in userBooksModal">
                        <button class="btn btn-primary" ng-click="saveRecipeToBook(recipeData.title, recipeData.id, recipeData.image, books.id)" data-dismiss="modal">{{books.name}}</button>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4"><img class="img-fluid" ng-src="https://spoonacular.com/recipeImages/{{recipeData.id}}-556x370.jpg" alt="{{recipeData.title}}"></div>
        <div class="col-8 center">
            <div class="row">
                <div class="col-12">
                    <h3 class="text-center h3-responsive">
                            <!-- This recipe is <b>{{diets}}</b>. -->
                             This recipe serves <b>{{recipeData.servings}}</b> and costs <b>${{pricePerServing}}</b> per serving.
                            <br>
                              It uses <b>{{ingredientLength}} ingredients </b> and can be completed in <b>{{stepsLength}} steps</b>. 
                             <br>
                             This recipe is ready to eat in <b>{{recipeData.readyInMinutes}} minutes</b>.
                            </h3>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <h1 class="h1-responsive borderBot1px">Ingredients</h1>
    <div class="row">
        <div class="col-3" ng-repeat="ingredient in recipeIngredients">
            <img class="img-fluid" ng-src='{{ingredient.image}}' alt="Card image cap">
            <h4 class="card-title"><b>{{ingredient.amount}} {{ingredient.unit}}</b> {{ingredient.name}}</h4>
        </div>
    </div>
    <h1 class="h1-responsive borderBot1px">Instructions</h1>
    <div class="row instructionsBreak" ng-repeat="instruction in recipeInstructions">
        <div class="col-1 center">
            <h1>{{instruction.number}}</h1>
        </div>
        <hr>
        <div class="col-11 center">
            <p class="text-center">{{instruction.step}} </p>
        </div>
    </div>
</div>