<div class="container-fluid searchPagePadding">
    <div class="container">
        <div class="row searchHero">
            <form class="md-form col-12" ng-submit="searchRecipeBasic(humanQuery)">
                <input type="text" ng-model="humanQuery" placeholder="What Do You Want To Cook?" ng-submit="searchRecipeBasic(humanQuery)">
                <input class="displayNone" type="submit" id="submit" value="Submit" />
            </form>
        </div>
    </div>
    <div ng-show="resultsShown">
        <div class="row recipeResults">
            <div class="col-lg-4 col-xs-12 recipeCard" ng-repeat="recipe in recipeResults">
                <a ng-click="getRecipeInfo(recipe.id)" ui-sref="recipeCard({id:recipe.id})">
                    <div class="card hoverable">
                        <img class="img-fluid" ng-src="https://spoonacular.com/recipeImages/{{recipe.id}}-556x370.jpg" alt="{{recipe.title}}">
                        <div class="recipeTitleOverlay">
                            <h2 class="h2-responsive">{{recipe.title}}</h2>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div ng-show="noResults" class="center">
        <h1 class="text-center">we couldn't find results that match {{humanQuery}}</h1>
    </div>
    <div ng-show="resultsShown" class="center paginationPadding">
        <ul class="pagination">
            <button class="btn btn-large btn-primary" ng-click="decrementOffset()" ng-show="showPreviousButton">Go Back A Page</button>
            <button class="btn btn-large btn-primary" ng-click="incrementOffset()" ng-show="showNextButton">Show More Results</button>
        </ul>
    </div>
</div>