<nav class="navbar navbar-expand-lg navbar-dark unique-color-dark">
    <a class="navbar-brand" ui-sref="home">Meal Plan Online</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" ui-sref="home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref="search">Search</a>
            </li>
            <li class="nav-item" ng-show="showMyItems">
                <a class="nav-link" ui-sref="recipeBook">My Recipes</a>
            </li>
            <li class="nav-item" ng-show="showMyItems">
                <a class="nav-link" ui-sref="mealPlans">My Meal Plans</a>
            </li>
            <li class="nav-item" ng-show="showMyItems">
                <a class="nav-link" ui-sref="groceryLists">My Grocery Lists</a>
            </li>
            <li class="nav-item" ng-show="showSignIn">
                <a class="nav-link" data-toggle="modal" data-target="#loginModal">Login</a>
            </li>
            <li class="nav-item" ng-show="showSignOut">
                <a class="nav-link" ng-click="signOut()" ui-sref="home">Log Out</a>
            </li>
        </ul>
        <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModal" aria-hidden="true">
            <div class="modal-dialog cascading-modal" role="document">
                <div class="modal-content">
                    <div class="modal-c-tabs">
                        <ul class="nav nav-tabs tabs-2 light-blue darken-3" role="tablist">
                            <li class="nav-item  loginModalTabs text-center">
                                <a class="nav-link unique-color-dark" data-toggle="tab" data-target='#loginTab' role="tab"><i class="fa fa-user mr-1"></i> Login</a>
                            </li>
                            <li class="nav-item  loginModalTabs text-center">
                                <a class="nav-link special-color" data-toggle="tab" data-target="#registerTab" data-toggle="tab" role="tab"><i class="fa fa-user-plus mr-1"></i> Register</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade in show active" id="loginTab" role="tabpanel">
                                <div class="modal-body mb-1">
                                    <div class="md-form form-sm">
                                        <i class="fa fa-envelope prefix"></i>
                                        <input ng-model="loginEmail" type="email" id="loginEmail" class="form-control">
                                        <label for="loginEmail">Your email</label>
                                    </div>
                                    <div class="md-form form-sm">
                                        <i class="fa fa-lock prefix"></i>
                                        <input type="password" id="loginPassword" class="form-control" ng-model="loginPassword">
                                        <label for="loginPassword">Your password</label>
                                    </div>
                                    <div class="text-center mt-2">
                                        <button class="btn success-color-dark centerButtonContent" ng-click="signIn(loginEmail, loginPassword)" id="loginButton">Log in <i class="fa fa-sign-in ml-1"></i></button>
                                    </div>
                                </div>
                                <div class="modal-footer display-footer">
                                    <div class="options text-center text-md-right mt-1">
                                        <p>Not a member? <a data-target="#registerTab" data-toggle="tab" class="blue-text">Sign Up</a></p>
                                    </div>
                                    <button type="button" class="btn btn-outline-danger waves-effect ml-auto" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="registerTab" role="tabpanel">
                                <div class="modal-body">
                                    <div class="md-form form-sm">
                                        <i class="fa fa-envelope prefix"></i>
                                        <input type="text" id="signUpName" ng-model="signUpName" class="form-control" ng-required>
                                        <label for="signUpName">Your name</label>
                                    </div>
                                    <div class="md-form form-sm">
                                        <i class="fa fa-envelope prefix"></i>
                                        <input type="email" id="signUpEmail" ng-model="signUpEmail" class="form-control" ng-required>
                                        <label for="signUpEmail">Your email</label>
                                    </div>
                                    <div class="md-form form-sm">
                                        <i class="fa fa-lock prefix"></i>
                                        <input type="password" id="initialPassword" class="form-control" ng-model="initialPassword" ng-required>
                                        <label for="initialPassword">Your password</label>
                                    </div>
                                    <div class="md-form form-sm">
                                        <i class="fa fa-lock prefix"></i>
                                        <div class="tooltip top" role="tooltip">
                                            <div class="tooltip-arrow"></div>
                                            <div class="tooltip-inner">
                                                Some tooltip text!
                                            </div>
                                        </div>
                                        <input type="password" id="signUpPassword" class="form-control" ng-model="signUpPassword">
                                        <label for="signUpPassword">Repeat password</label>
                                    </div>
                                    <div class="text-center form-sm mt-2">
                                        <button class="btn success-color-dark centerButtonContent" ng-click="createUser(signUpName, signUpEmail, 
                                        initialPassword,
                                        signUpPassword)">Sign up <i class="fa fa-sign-in ml-1"></i></button>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <div class="options text-right">
                                        <p class="pt-1">Already have an account? <a data-target="#loginTab" data-toggle="tab" class="blue-text">Log In</a></p>
                                    </div>
                                    <button type="button" class="btn btn-outline-info waves-effect ml-auto" data-dismiss="modal">Close</button>
                                    <!-- <button class="btn btn-danger" ng-click="signOut()"> Sign out </button> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="text" placeholder="You should cook more" id="navBarSearch" aria-label="Search">
        </form>
    </div>
</nav>