<div class="container-fluid">
    <div class="row recipeBookLayout bookMarginTop">
        <div class="col-lg-6 col-xs-12 recipeCard" ng-repeat="recipe in recipes">
            <div class="card">
                <a ng-click="getRecipeInfo(recipe.id)" ui-sref="recipeCard({id:recipe.recipe_id})">
                    <img class="img-fluid recipeBookPics" ng-src="{{recipe.profile_pic}}" alt="{{recipe.name}}">
                </a>
                <div class="card-body dark-card-body">
                    <h4 class="card-title text-center">{{recipe.name}}</h4>
                    <div class="center">
                        <a class="btn deleteButtonColor" ng-click="deleteRecipeFromBook(recipe.id, recipe.fkey)">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="noBooks" class="center noBooks">
        <h1 class="text-center h1-responsive"><b> Looks like you haven't added any recipes to your book.</b> </h1>
        <br>
        <h3 class="text-center lineHeight h2-responsive">
            You can add recipes to your recipe book
            <br>
            from the <button class ="btn btn-success" ui-sref="search"><b>   search</b> </button>page.
        </h3>
    </div>
</div>
