body {
  margin: 0;
  padding: 0;
}


nav {
	position: fixed;
}

.testBg {
	background-color: salmon;
	width: 100%;
}

.center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}

.flex {
	display: flex;
	justify-content: center;
}

.paddingTop {
	padding-top: 2vh;
}

.borderBot1px {
	border-bottom: 1px solid black;
}


/* Search Heros */

.searchHero{

	padding-top: 5vh;
	display: flex;
	justify-content: center;
	/*background-color: aliceblue;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	position: sticky;*/

}


/* Recipe Search & Results */

.w200vw {
	max-width: 200vw;
}

.w100vw {
	width: 100vw;
}

.recipeResults {
	display: flex;
	justify-content: center;
	align-items: center;
}

.paddingRecipes{
    padding: 2vh 0;
}

.instructionsBreak {
	border-bottom: .5px solid salmon;
}

/*
.recipeTitleOverlay {
	  width:100%;
	  height:13%;
	  padding: 2% 0;
	  background-color:rgba(0,0,0,0.4);
	  position:absolute;
	  bottom:0;
	  vertical-align: middle;
	  text-align:left;
	  color:white;
}*/
