nav {
    position: fixed;
}







/* Utilities */

.width100 {
    max-width: 100%;
}

.height90vh {
    height: 90vh;
}

.posRel-wid100 {
    position: relative;
    width: 100%;
}

.paddingRight0 {
    padding-right: 0;
}

.testBg {
    background-color: aliceblue;
    width: 100%;
}

.salmonBg {
    background-color: rgba(250, 128, 114, .5);
    border-radius: 5px;
}

.horizontalCenter {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fixedBottom {
    position:
}

.mainHero {
    margin: 33vh 0;
}

.flex {
    display: flex;
    justify-content: center;
}

.paddingTop {
    padding-top: 2vh;
}

.borderBot1px {
    border-bottom: 1px solid black;
}

.form-control {
    color: black !important;
}

a:link {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

a:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

.sticky {
    position: fixed;
}

.displayNone {
    display: none;
}

.displayShow {
    display: absolute;
}




/* Search Heros */

.searchHero {

    padding-top: 5vh;
    display: flex;
    justify-content: center;
    /*background-color: aliceblue;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;*/
}








/* Recipe Search & Results */

.paginationPadding {
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.recipeResultContainer {
    float: left;
    position: relative;
}

.recipeTitleOverlay {
    padding-left: 5px;
    padding-top: 5px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background-color: rgba(0,0,0,.6);
    color: white;
    font-weight: 700;
}


.w100vw {
    width: 100vw;
}

.recipeCard {
    margin: 0 0;
    padding: 0 0;
}

.recipeResults {
    display: flex;
    justify-content: center;
    align-items: center;
}

.paddingRecipes {
    padding: 2vh 0;
}

.instructionsBreak {
    box-shadow: 1px 1px 1px salmon;
}

.ingredient-image {
    width: 100px;
    height: 100px;
}

.instructionSpacing {
    margin: 2vh 2vw;
}

.instructionStyles {
    padding: 3vh 3vw;
    line-height: 140%;
}

.growInstructions {
    transition: all 1s ease-in-out;
    transform: scale(1);
    z-index: 100;
}


.growInstructions:hover {
    transition: all .5s ease-in-out;
    transform: scale(1.05);
    z-index: 100;
}



/*
.recipeTitleOverlay {
    width:100%;
    height:13%;
    padding: 2% 0;
    background-color:rgba(0,0,0,0.4);
    position:absolute;
    bottom:0;
    vertical-align: middle;
    text-align:left;
    color:white;
}*/


/* Calendar Styles */

.addButtonCalendar {
    font-size: 20px;
    color: white;
    font-weight: 400;
    width: 25px;
}

.table {
    width: 100%;
}


table,
thead,
td,
tr,
tbody,
th {
    border: 1px solid black;
}

td {
    margin: auto;
}

.app {
    width: 100%;
    padding: 0;
    margin: 0;
}

li {
    width: parent;
}

.dayPeriod {}

.flexCalendar {
    vertical-align: center;
}

.toolBarWidth {
    width: 30vw
}

.calendarWidth {
    width: 70vw
}

.timeName {
    transform: rotate(-90deg);
    left: -40px;
}

.calendarSlot {
    border: 1px solid black;
}

.calendarPadding {
    padding-top: 2vh
}

.servingSetUp {
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center
}

.recipeSetup {
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sideBarPadding {
    margin: 1vh 0;
}

.sideBarRecipeSize {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.feedback {
    background-color: #31B0D5;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    border-color: #46b8da;
}

#mybutton {
    position: fixed;
    top: 10vh;
    left: 5vh;
}

.recipePanelBg {
    background-color: rgba(0, 0, 0, 0.2);
}

#sortableLists {
    width: 200px;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 2px;
    padding-top: 5px;
    background-color: aliceblue;
}

.noListStyle {
    list-style-type: none;
}

.recipeListBox {
    width: 0;
    height: 0;
    background-color: salmon;
    opacity: 0;
    transition-duration: .5s;
}

.paddingBarely {
    margin-right: 20px;
    margin-left: 20px;
}

.recipeButtons {
    opacity: 1 !important;
}

.recipeBoxContent {
    height: 15vh;
    width: 15vh;
}

.noImgTouch {
    height: 10vh;
    margin: 1vh 2vh;
}

.sideBarTransition {
    transition: all 1s;
}


.displayFixed {
    display: block;
}



/* Loading Icon */


/* Floating Action Buttons */


/* Bootstrap Additions */

.col-2 {
    flex-grow: 1;
    transition: all .1s;
}

.col-12 {
    flex-grow: 1;
    transition: all .1s;
}

.col-10 {
    flex-shrink: 1;
    transition: all .1s;
}