body {
    margin: 0;
    padding: 0;
}


nav {
    position: fixed;
}



/* Utilities */

.width100 {
    max-width: 100%;
}

.height90vh {
    height: 90vh;
}

.posRel-wid100 {
    position: relative;
    width: 100%;
}

.paddingRight0 {
    padding-right: 0;
}

.testBg {
    background-color: aliceblue;
    width: 100%;
}

.salmonBg {
    background-color: rgba(250, 128, 114, .5);
    border-radius: 5px;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainHero {
    margin: 33vh 0;
}

.flex {
    display: flex;
    justify-content: center;
}

.paddingTop {
    padding-top: 2vh;
}

.borderBot1px {
    border-bottom: 1px solid black;
}

.form-control {
    color: black !important;
}

a:link {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

a:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

.sticky {
    position: fixed;
}



/*.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
*/


/* Search Heros */

.searchHero {

    padding-top: 5vh;
    display: flex;
    justify-content: center;
    /*background-color: aliceblue;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;*/
}




/* Recipe Search & Results */

.w200vw {
    max-width: 200vw;
}

.w100vw {
    width: 100vw;
}

.recipeResults {
    display: flex;
    justify-content: center;
    align-items: center;
}

.paddingRecipes {
    padding: 2vh 0;
}

.instructionsBreak {
    border-bottom: .5px solid salmon;
}

.ingredient-image {
    width: 100px;
    height: 100px;
}



/*
.recipeTitleOverlay {
      width:100%;
      height:13%;
      padding: 2% 0;
      background-color:rgba(0,0,0,0.4);
      position:absolute;
      bottom:0;
      vertical-align: middle;
      text-align:left;
      color:white;
}*/


/* Calendar Styles */

.table {
    width: 100%;
}


table,
thead,
td,
tr,
tbody,
th {
    border: 1px solid black;
}

td {
    margin: auto;
}

.app {
    width: 100%;
    padding: 0;
    margin: 0;
}
li {
    width: parent;
}

.dayPeriod {

}

.flexCalendar {
    vertical-align: center;
}

.toolBarWidth {
    width: 30vw
}

.calendarWidth {
    width: 70vw
}

.timeName {
    transform: rotate(-90deg);
    left: -40px;
}

.calendarSlot {
    border: 1px solid black;
}

.calendarPadding {
    padding-top: 2vh
}

.servingSetUp {
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center
}

.recipeSetup {
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    ;
    justify-content: center;
}

.sideBarPadding {
    margin: 1vh 0;
}

.sideBarRecipeSize {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.feedback {
    background-color: #31B0D5;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    border-color: #46b8da;
}

#mybutton {
    position: fixed;
    bottom: 5vh;
    right: 5vh;
}

.recipePanelBg {
    background-color: rgba(0, 0, 0, 0.2);
}

#sortableLists {
    width: 200px;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 2px;
    padding-top: 5px;
    background-color: aliceblue;
}


/*.app {
    max-width: inherit;
}*/
/*.md-datepicker-input-mask{
    overflow: hidden;
}*/

/*.panel.panel-horizontal {
    display: table;
    width: 100%;
}

.panel.panel-horizontal>.panel-heading,
.panel.panel-horizontal>.panel-body,
.panel.panel-horizontal>.panel-footer {
    display: table-cell;
}

.panel.panel-horizontal>.panel-heading,
.panel.panel-horizontal>.panel-footer {
    width: 25%;
    border: 0;
    vertical-align: middle;
}

.panel.panel-horizontal>.panel-heading {
    border-right: 1px solid #ddd;
    border-top-right-radius: 0;
    border-bottom-left-radius: 4px;
}

.panel.panel-horizontal>.panel-footer {
    border-left: 1px solid #ddd;
    border-top-left-radius: 0;
    border-bottom-right-radius: 4px;
}*/